<h3 class="text-center text-info pt-5">アカウント作成</h3>
<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">

<%= form_for(@user) do |f| %>

    <div class="form-group">
      <%= f.label :name, '名前', class:'text-info' %><br>
      <%= f.text_field :name, class:'form-control' %>
    </div>  

    <div class="form-group">
      <%= f.label :email, 'メールアドレス', class:'text-info' %><br>
      <%= f.text_field :email, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'パスワード', class:'text-info' %><br>
      <%= f.password_field :password, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'パスワード(二回目)', class:'text-info' %><br>
      <%= f.password_field :password_confirmation, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit 'アカウントを作成する', class:'btn btn-info btn-md' %>
    </div>
<% end %>

            </div>
        </div>
    </div>
</div>